#container {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('src/assets/sakura.jpg');
    background-size: cover;
    background-position: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

mat-icon:hover {
    cursor: pointer;
}
